<li>
	<div class="container">
  		<div class="row">
    		<div class="col articleText">	
    			{{title}}
				{{link}}
			</div>
    		<div class="col">			
				<button class="saveButton" data-id="{{id}}">
					{{#if scrape}}Save Article{{else}}Article Notes{{/if}}
				</button>
			</div>
		</div>
	</div>
</li>